.frase-celebre{
    position: relative;
    font-size: 1.5rem;
    font-style: italic;
    color: #2c3e50;
    padding-left: 50px;
    max-width: 500px;
}

.frase-celebre::before{
    content: "«";
    position: absolute;
    top: -20px;
    left: 0;
    font-size: 5rem;
    color: blue;
    opacity: 0.3;
    font-family: 'Times New Roman', Times, serif;
}

.frase-celebre cite{
    display: block;
    font-size: 1rem;
    color: #7f8c8d;
    margin-top: 10px;
}